
<ion-content>
  <!--triangle-->
  <div class="container">
    <div class="side left"></div>
    <div class="side front"></div>
    <div class="side right"></div>
    <div class="side back"></div>
    <div class="shadow"></div>
  </div>

  <!--rectangle-->
  <div class="contener_box">
    <div class="box">
      <i></i>
    </div>
  </div>
  <!sphere-->
  <div class="scene">
    <div class="light">
      <div class="clip">
        <div class="container">
          <!-- X Axis -->
          <div class="circle border"></div>
          <div class="circle border"></div>
          <div class="circle border"></div>
          <div class="circle border"></div>
          <div class="circle border"></div>
          <!-- Y Axis -->
          <div class="circle border"></div>
          <div class="circle border"></div>
          <div class="circle border"></div>
          <div class="circle border"></div>
          <div class="circle border"></div>
          <!-- Z Axis -->
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="containers">
    <div class="hexagone animate">

      <div class="top">
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
      </div>

      <div class="bottom">
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
      </div>

      <div class="side-faces">
        <div class="sidee"></div>
        <div class="sidee"></div>
        <div class="sidee"></div>
        <div class="sidee"></div>
        <div class="sidee"></div>
        <div class="sidee"></div>
      </div>

    </div>
  </div>
  <!--cylindre-->
  <div class="cylinder">
    <div class="top"></div>
    <div class="top-back"></div>
    <div class="bottom"></div>
    <div class="bottom-back"></div>

    <div class="side-group">
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div><div></div><div></div><div></div><div></div>
      <div></div>
    </div>
  </div>
</ion-content>
